{{!-- <h1>{{title}}</h1> --}}
<p>Welcome to {{title}}</p>

  <div>
            <div class="homeimg">
                <img src="images/home/img01.jpg" alt="avion">
            </div>
            <div class="columnas">
                <section class="bienvenidos">
                    <h2>Bienvenidos</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores neque mollitia, culpa qui nemo
                        accusantium magni laudantium voluptates, optio ullam esse voluptate totam, quibusdam veniam
                        voluptatem? Soluta quod beatae accusantium!</p>
                </section>
                <section class="testimonios">
                    <h2>Testimonios</h2>
                    <div class="testimonio">
                        <span class="cita">Simplemente Excelente</span>
                        <span class="autor">Juan Gomez - zapatos.com</span>
                    </div>

                </section>

            </div>
        </div>

