  <section class="historia">
            <h2>Historia</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt quo perferendis accusamus, eligendi a
                asperiores labore, itaque laboriosam dolorum placeat accusantium deleniti fugiat odit nisi reiciendis
                nulla rerum dignissimos quos.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam cum, esse minus consequatur nobis quidem
                sed quas consectetur placeat ullam adipisci voluptas quisquam iusto, debitis et, non magni inventore
                porro.</p>

        </section>
        <section class="staff">
            <h2>Staff</h2>
            <div class="personas">
                <div class="persona">
                    <img src="images/nosotros/nosotros1.jpg" alt="Juan Gomez">
                    <h5>Juan Gómez</h5>
                    <h6>Gerente General</h6>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aspernatur, voluptate, placeat qui
                        explicabo libero suscipit provident cupiditate ipsum quia excepturi dolore doloremque eaque eum
                        aliquid eius illo repudiandae tempore enim?</p>
                </div>

                <div class="persona">
                    <img src="images/nosotros/nosotros2.jpg" alt="Diana Reyes">
                    <h5>Diana Reyes</h5>
                    <h6>Gerente Comercial</h6>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aspernatur, voluptate, placeat qui
                        explicabo libero suscipit provident cupiditate ipsum quia excepturi dolore doloremque eaque
                        eum
                        aliquid eius illo repudiandae tempore enim?</p>
                </div>


                <div class="persona">
                    <img src="images/nosotros/nosotros3.jpg" alt="Roberto Zabala">
                    <h5>Roberto Zabala</h5>
                    <h6>Gerente de Sistemas</h6>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aspernatur, voluptate, placeat
                        qui
                        explicabo libero suscipit provident cupiditate ipsum quia excepturi dolore doloremque
                        eaque eum
                        aliquid eius illo repudiandae tempore enim?</p>
                </div>

                <div class="persona">
                    <img src="images/nosotros/nosotros4.jpg" alt="Sandra Mastroloi">
                    <h5>Sandra Mastroloi</h5>
                    <h6>Gerente de Marketing</h6>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aspernatur, voluptate,
                        placeat qui
                        explicabo libero suscipit provident cupiditate ipsum quia excepturi dolore
                        doloremque eaque eum
                        aliquid eius illo repudiandae tempore enim?</p>
                </div>

                <div class="persona">
                    <img src="images/nosotros/nosotros5.jpg" alt="Juan Gomez">
                    <h5>Luciano Gómez</h5>
                    <h6>Gerente de Logística</h6>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aspernatur, voluptate,
                        placeat qui
                        explicabo libero suscipit provident cupiditate ipsum quia excepturi dolore
                        doloremque eaque eum
                        aliquid eius illo repudiandae tempore enim?</p>



                </div>
