 <h2>Novedades</h2>
        <div>Subtítulo</div>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum atque nulla tenetur minus! Explicabo minima
            perspiciatis dignissimos, delectus, nobis sapiente labore neque a suscipit maiores id error. Non, maxime
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vel vero labore perspiciatis libero fugiat eveniet
            aut? Dolores culpa sequi, doloremque qui, quidem est obcaecati totam autem, adipisci provident nostrum eius?
        </p>
        <hr />
        <h3>Títulos</h3>
        <h4>Subtítulos</h4>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat labore eveniet dolores aut animi, totam
            possimus minus veniam suscipit obcaecati tempore ipsum magni commodi ducimus quasi tempora illo consectetur
            sapiente?Lorem ipsum dolor, sit amet consectetur adipisicing elit. Reiciendis distinctio, corrupti ea
            dolores animi pariatur est minus doloribus, harum tempore sed earum molestias ducimus quis nulla? Itaque
            perspiciatis earum consequuntur.</p>
